@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-datepicker/dist/react-datepicker.css";
@import "./custom.table.css";
@import "./datatable.component.css";
@import "./dropdown.menu.css";
@import "./loading.css";
@import "./modal.css";
@import "./tabs.css";
@import "./tooltip.css";
@import "./table.component.css";
@import "./date.time.input.css";
@import "./form.elements.css";
@import "react-credit-cards-2/dist/es/styles-compiled.css";

@layer components {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body,
  #root {
    font-family: "Montserrat", sans-serif, ui-sans-serif, system-ui,
      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    @apply box-border h-full w-full bg-smoke-white;
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .main-content {
    @apply rounded-[3px] bg-gray-100/100 md:p-6;
  }

  .main-content .content-container {
    @apply relative m-2 bg-light pb-10 rounded-xl;
  }

  .main-content .content-container > .header-navigation-btn {
    @apply absolute right-0 top-3 pr-4;
  }

  .main-content .content-container .title {
    @apply flex h-16 items-center rounded-t-xl bg-company-secondary px-6 py-0 text-[22px] font-semibold text-white;
  }

  .main-content .content-container .sub-title {
    @apply rounded-sm bg-[#2d596d] text-sm font-extrabold text-white;
  }

  .active-link {
    @apply text-primary;
  }

  .btn-moor {
    @apply m-2 rounded-md p-2 text-xs;
  }

  .btn {
    @apply flex cursor-pointer items-center justify-center gap-1 rounded-md border-0 px-2 py-1.5 text-base font-semibold text-white drop-shadow-lg transition-all duration-200 hover:opacity-80 disabled:cursor-default disabled:opacity-75;
  }
  .btn-warning {
    @apply bg-warning;
  }
  .btn-secondary {
    @apply bg-company-secondary;
  }
  .btn-success {
    @apply bg-company-secondary;
  }
  .btn-primary {
    @apply bg-company-primary;
  }
  .btn-light {
    @apply bg-white-smoke text-gray-600;
  }

  .btn-danger {
    @apply bg-danger;
  }

  .btn-save  {
    @apply bg-company-primary text-white;
  }
  .table-head-btn {
    @apply right-8 flex cursor-pointer items-center justify-center gap-x-2.5 p-0.5;
  }

  .header-search {
    @apply my-3 flex justify-end;
  }
  .header-search > input {
    @apply w-60 rounded-r-none;
  }
  .header-search-btn {
    @apply btn btn-success cursor-pointer rounded-l-none px-4 py-0.5;
  }

  .save-area {
    @apply mx-1 mb-1 mt-8 flex items-center justify-end bg-transparent;
  }

  .save-area .btn-save {
    @apply block w-28 rounded-xl bg-primary;
  }

  .time-text {
    @apply text-xl font-semibold text-danger;
  }

  .group.row {
    @apply rounded-md border-[1px] border-solid border-success bg-light px-2 pb-8 pt-4 shadow-group lg:px-6;
  }

  .group-title {
    @apply mb-0.5 mt-2.5 text-xl font-semibold text-primary;
  }
  .text-description {
    @apply text-sm;
  }
  .table-icon {
    @apply inline-flex h-7 w-7 cursor-pointer rounded-full p-0 text-center text-[15px] drop-shadow-sm;
  }

  .page-container {
    @apply mt-6 w-full bg-light pb-10 rounded-xl min-h-[calc(100vh-200px)];
  }

  .page-header {
    @apply m-0 mb-5 rounded-xl bg-company-secondary p-3 text-2xl font-normal text-white;
  }
  .page-content {
    @apply px-4 rounded-xl;
  }

  .input-radio {
    @apply border-primary w-[275px] h-9 lg:w-28 lg:h-8 cursor-pointer text-sm border-[1px] font-semibold transition-all duration-300 hover:bg-success hover:bg-opacity-50 rounded-md  shadow-sm inline-flex justify-center items-center;
  }

  input[type="radio"]:checked + label.input-radio {
    @apply border-none bg-success text-white;
  }

  .credit__cards > .rccs > .rccs__card {
    @apply w-full max-w-72;
  }
}
